{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\BlogController::menu')) }}
{% endblock %}

{% block title %}Index Commentaires {% endblock %}

{% block body %}
    <div class="container blog">
    <h1> Commentaire </h1>

    {% for comment in comments %}
            <div class="card mb-3">
                  <div class="row no-gutters">
                    
                    <div class="col-md-8">
                        <div class="card-body">
                            
                            <p class="card-text">{{ comment.text }}</p>
                            <p class="card-date"> {{ comment.createdAt ? post.createdAt|date('d-m-Y H:i:s') : '' }}</p>  
                            <p class="card-text">{{ comment.user.prenom}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p>no records found</p>
            </div>
        {% endfor %}
    </div>



    <a href="{{ path('comment_new') }}">Nouveau commentaire</a>
{% endblock %}
