{% extends "layout-shop.html.twig" %}

{% block title %}
    Accueil de la Boutique
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid category">
            <div class="row">
                <div class="col-6 category-intro">
                    <h2>NOUVEAUTÉS</h2>
                    <p >
                        La librairie Heroes-Corner vous propose depuis 2020 le meilleur de la <br><strong>BD</strong>, des <strong>MANGAS</strong> et <strong>COMICS</strong> en ligne. Retrouvez ici vos albums préférés mais aussi un large choix d'articles.
                        <br><br>En ces temps difficiles, toute l’équipe de Heroes-Corner fait son maximum pour vous permettre un peu d’évasion avec la lecture.
                        <br>Merci d’avance pour votre compréhension sur les délais d'acheminement de vos albums préférés.
                    </p>
                </div>
                <div class="col-6 category-image">
                </div>
            </div>
        </div>

        <hr class="line">

        <div class="container catalog">
            <h2 class="text-center mb-5">
                <strong>Nos dernières pépites</strong>
            </h2>
            <div class="row justify-content-around">
                {% for product in products %}
                    <div class="col-2">
                        {% if product.image %}
                            <a href="{{ path('product_show', {'id': product.id}) }}">
                                <img src="{{ asset('uploads/images/products/')}}{{ product.image }}" alt="" class="img-fluid p-4 m-0 product-image cover">
                            </a>
                        {% else %}
                            Pas d'images
                        {% endif %}
                        <div class="catalog-details">
                            <h5>{{ product.titre }}</h5>
                            <p>{{ product.soustitre }}</p>
                            <p class="catalog-price">{{ product.prix }} &euro;</p>
                        </div>
                    </div>
                {% else %}
                    <div>
                        <span>Pas de produits</span>
                    </div>
                {% endfor %}
            </div>
            <p class="text-center">
                <a href="{{ path('product_index') }}">Pour voir tout nos produits, c'est par ici!</a>
            </p>
        </div>
    </main>
{% endblock %}

