{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <h2 class="text-center">HEROES CORNER vous présente : <br> {{ products.0.categorie.titre }}</h2><br>
    <div class="container-fluid">
        <div class="row justify-content-center ">
        {% for product in products %}
            <div class="col-3 product">
                {% if product.image %}
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        <img src="{{ asset('uploads/images/products/')}}{{ product.image }}" alt="" class="img-fluid p-4 m-0 product-image cover">
                    </a>
                {% else %}
                    Pas d'images
                {% endif %}
            </div>
            <div class="col-3 description">
                <h3 class="mt-3">{{ product.titre }}</h3>
                <h5>{{ product.soustitre }}</h5>
                <div class="price">{{ product.prix }}€</div>
                <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn">Modifier</a>
            </div>
            {% else %}
                <div>
                    <span>Pas de produits</span>
                </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <a href="{{ path('product_new') }}"><button type="button" class="btn btn-danger">Ajouter un nouveau produit</button></a>
            <a href="{{ path('cart_index') }}"><button type="button" class="btn btn-danger">Afficher le panier</button></a>
        </div>
    </div>
    <br>
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}