{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\ShopController::menu')) }}
{% endblock %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 class="text-center">Votre produit!</h1><br>

    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-4 product">
                <img src="{{ asset('uploads/images/products/')}}{{ product.image }}" alt="album" class="img-fluid p-4 m-0 product-image cover">
                <!-- <img src="" alt="" class="img-fluid p-4 m-0 product-image planche"> -->
            </div>
            <div class="col-4 description">
                <h3 class="mt-3">{{ product.titre }}</h3>
                <h5>{{ product.soustitre }}</h5>
                <div>
                    Date de parution: {{ product.date ? product.date|date('d-m-Y') : '' }} <br>
                    Dessinateur : {{ product.dessinateur }} <br>
                    Editeur : {{ product.editeur}} <br>
                    Résumé : {{ product.resume }} <br>
                    Note : {{ product.note }}/10 <br>
                    Catégorie : {{ product.categorie }}
                </div>
                <div class="price">{{ product.prix }}€</div>
                <a class="btn btn-danger" href="{{ path('cart_add', {'id': product.id}) }}">Ajouter au panier</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
