{% extends 'base.html.twig' %}

{% block header %}
    {{ render(controller('App\\Controller\\Heroes\\BlogController::menu')) }}
{% endblock %}

{% block title %}{{ post.titre }}{% endblock %}

{% block body %}


    <div class="container blog">
        <div>
            <h3 class="post-title">{{ post.titre }}</h3>
            <div>
                <p class="post-date"> Publié le {{ post.createdAt ? post.createdAt|date('d-m-Y H:i:s') : '' }}</p>
            </div>
        </div>
        <hr class="post-line">
        <div class="post-image row justify-content-around">
            <img src="{{ asset('uploads/images/blog/')}}{{ post.image }}">
        </div>
        <div class="post-content">
            {{ post.contenu | raw }}
        </div>
        <p>{{post.user}}</p>
    </div>


    <hr>

    <div class="container blog">
        <h4 class="post-comment-title">Liste des commentaires</h4>
        {% for commentaire in post.comments %}
            Posté par {{ commentaire.user.prenom }} le {{commentaire.createdAt|date('Y-m-d H:i:s')}}
            <p class="post-comment"> {{ commentaire.text}} </p>
        {% endfor %}
    </div>
    <div>
        <a href="{{ path('post_index') }}">Retour à la liste</a>

        <a href="{{ path('post_edit', {'id': post.id}) }}">Modifier</a>
    </div>
    {{ include('post/_delete_form.html.twig') }}
{% endblock %}

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}
