{% extends 'base.html.twig' %}

{% block title %}Liste Commandes{% endblock %}

{% block body %}
    <h1>La liste des Heroes-Commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantité</th>
                <th>Numéro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.quantite }}</td>
                <td>{{ order.numero }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">Afficher</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de commandes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Passer une nouvelle commande</a>
{% endblock %}
